body {
  background-color: #222222;
}

a {
  text-decoration: none;
  font-weight: bold;
}
#container {
  width: 980px;
  margin: auto;
  position: relative;
  padding: 0px;
}

#sidebar {
  padding:15px;
  float:left;
  background-color: #ffffff;
  width: 180px;
  margin-right: 10px;
}

#content
{
  width: 730px;
  float:left;
  background-color: #ffffff;
  padding:15px;
}