{% extends '::base.html.twig' %}

{% block content %}
    <article id="book-detail">
        <h1>{{ book.title }}</h1> by {{ book.author.name }} {{ book.author.surname }}
        <p>
            Published: {{ book.publicationDate|date("d/m/Y") }}
        </p>
    </article>
{% endblock %}