{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/pugxbook/css/table.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pugxbook/js/table.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h1>Book list</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="book-list">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Date</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td><a href="{{ path('pugx_book_detail', {'bookId':book.id}) }}">{{ book.title }}</a></td>
                <td>{{ book.author.name }} {{ book.author.surname }}</td>
                <td>{{ book.publicationDate | date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}