{% extends '::base.html.twig' %}

{% block content %}
    <h1>Welcome on PUGX Book</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices, nisi quis porta fermentum, magna ligula suscipit metus, quis blandit leo urna non diam. Sed non dui dui, quis porttitor massa. Phasellus convallis porta leo, sed vehicula eros ultrices sit amet. </p>
{% endblock %}